body {
    overflow: scroll;
    overflow-x: unset;
    scroll-behavior: smooth;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
    color: #fff;    
  }
#header {
    border: none;
    position: relative;
    width: 100vw;
    height: 15vw;
    background-color: #ce1c75;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#head-title {
    padding-top: 0;
    font-weight: 700;
    font-size: 5vw;
    color: #fff;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;

}

#about {
    font-size: 1.5vw;
    color: #fff;
}

#logo {background-image: url(logo.webp);
    background-size: cover;
    width: 15%;
    height: 95%;
    border-radius: 50%;

}

#Contactus {
    width: 15%;
    font-size: 2vw;
    text-align: center;

}
#feedback {
    font-size: 1.5vw;
    color: rgb(219, 237, 18);
    text-decoration: underline; 
}

#feedback:hover {
    color: aquamarine;
}

i {
    color: rgb(11, 214, 18);
}
 table {
    height: auto;
    width: 100vw;
}
tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 6vw;
    margin-bottom: 1vw;  
}
td {
    width: 23%;
    font-size: 2.5vw;
    text-align: center;
    height: 5vw;
    padding: 0;
    padding-top: .8vw;
}
#td2 {
    font-size: 2vw;
}
a {
    text-decoration: none;
   cursor: pointer;
   color: #fff;
   font-weight: 600;
}
#d1 {
    background-color: rgb(12, 138, 138);
}
#d2 {
    background-color: rgb(138, 26, 148);
}
#d3 {
    background-color: rgb(0, 34, 255);
}
#d4 {
    background-color: rgb(255, 0, 195);
}
#d5 {
    background-color: rgb(32, 132, 7);
}
#d6 {
    background-color: rgb(100, 107, 6);
}
#d7 {
    background-color: rgb(85, 14, 133);
}
#d8 {
    background-color: rgb(243, 71, 13);
}
